<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhereIsTheMeteor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67A7A19526E917D400F3F184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67A7A1AE26E917D600F3F184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67A7A1B926E917D600F3F184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
